body {
    max-width: 1280px;
    margin: 0 auto;
    font-family: sans-serif;
    background-color: rgb(230, 230, 230);
}

.body-box {
    background-color: rgb(255, 255, 255);
}

.box-content {
    padding: 4%;
}

header {
    align-items: center;
    background-color: rgb(240, 240, 240);
    padding-top: 0.05%;
    padding-bottom: 0.05%;
}

footer {
    padding-top: 0.05%;
    padding-bottom: 0.05%;
    background-color: rgb(240, 240, 240);
}

.overview {
    display: flex;
    align-items: center;
    gap: 2%;
    margin-left: 30%;
    margin-right: 30%;
    padding-bottom: 2%;
}

.center_text {
    text-align: center;
}

.overview img {
    width: 100px;
}

.columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2%;
}

.column {
    flex: 1;
    vertical-align: top;
    /* prefer 2 columns per row */
    flex-basis: calc(50% - 1em);
}

.small_image {
    width: 40%;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2%;
    align-content: space-evenly;
}

/* 
  dark theme
  */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #181A1B;
        color: #ffffff;
    }

    .body-box {
        background-color: #131516;
    }

    header {
        background-color: #313537;
    }

    footer {
        background-color: #313537;
    }

    a {
        color: #3390FF;
    }
}